body, html {
    font-size: 16px;
    font-family: monospace;
    color: white;
    background-color: black;
}

h1, h2 {
    color: yellow;
    text-align: center;
    padding: 1% 1% 1% 1%;
}
h3 {
    color: rgb(29, 247, 29);
}
main {
    margin: auto;
    width: fit-content;
    border: 3px double white;
    border-radius: 1rem;
    padding: 1% 1% 1% 1%;
}

.all-logs {
    padding: 1% 1% 1% 1%;
    overflow-y: auto;
}

.logs-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.recently-viewed, form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.604);
    color: black;
    width: fit-content;
    border-radius: 1rem;
}

form {
    padding: 1% 1%;
}

.log-form-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul, li, p, a {
    text-decoration: none;
    list-style-type: none;
}